@media (min-width: 1850px)
  .content
    width: 1360px

  .text-box
    padding: 64px 60px 64px 60px
    &--upper
      position: relative
      padding-left: 315px

@media (max-width: 1850px)
  .content
    width: 1220px

  .page__wrap
    background-image url(images/footer_bg.png) , url(images/svg/clouds_bg.svg) , none, linear-gradient(-180deg, #34c4f0 0, #1c90e2 100%)

  .main-pic
    padding-left: 60px
    height: 635px

  .related-head
    padding: 0 25px

  .related-list
    padding: 34px 25px 0

  .methodology-article
    padding-top: 23px
    padding-left: 141px
    &:before
      left: 20px

@media (max-width: 1370px)
  .content
    width: 980px

  .article-title
    font-size: 40px
    line-height: 68px
    font-weight: 600

  .article-text__item
    width: 650px
    font-size: 24px
    line-height: 30px
    font-weight: 300
    margin-bottom: 42px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300
    margin-bottom: 84px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 32px

  .related-list .col
    width: 49%

  .features__tools-text
    width: 651px

@media (max-width: 1019px)
  .content
    width: auto
    max-width: 740px

  .breadcrumbs__wrap
    margin-bottom: 32px

  .article-title
    font-size: 32px
    line-height: 38px
    font-weight: 600

  .text-box__features
    margin-bottom: 48px

  .text-box__about
    margin-bottom: 48px

  .text-box__about-text
    margin-bottom: 24px

  .text-box__about-title
    margin-bottom: 4px

  .text-box__contacts-title
    margin-bottom: 8px

  .primary-text
    margin-bottom: 24px

  .features-item__text
    margin-bottom: 24px

  .text-box__intro
    margin-bottom: 36px

  .article-text__item
    width: 650px
    font-size: 24px
    line-height: 30px
    font-weight: 300
    margin-bottom: 12px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .top-menu__link
    margin: 0 10px

  .text-box
    padding: 44px 25px 100px 25px
    &:after
      width: 172px
      height: 25px
      right: 25px
      bottom: 44px

  .block-title
    margin-bottom: 32px
    font-size: 36px
    line-height: 48px
    margin-bottom: 32px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 21px

  .related-list .col
    width: 46%

  .methodology-article
    padding-left: 97px
    padding-right: 0
    padding-top: 23px
    &:before
      left: 8px
      top: 27px

  .methodology-title
    text-align: center

  .bottom-col
    width: 49%
    padding-right: 0px

  .text-box.last
    padding-top: 25px

@media (max-width: 759px)
  .content
    margin-left: 10px
    margin-right: 10px

  .top-logo
    display: none

  .mob-logo
    display: block
    width: 35px
    height: 38px

  .breadcrumbs__wrap
    white-space: nowrap
    max-width: 100%
    box-sizing border-box
    margin-bottom: 21px

  .breadcrumbs__item:last-child
    overflow: hidden
    text-overflow: ellipsis

  .article-title
    font-size: 24px
    line-height: 32px
    font-weight: 600

  .article-text__item
    min-width: 265px
    width: auto
    font-size: 16px
    line-height: 24px
    font-weight: 300
    margin-bottom: 12px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .text-box
    padding: 32px 12px 88px 12px
    &:after
      left: 50%
      transform: translateX(-50%)
      bottom: 32px

  .cols__wrap
    flex-wrap wrap

  .features__title
    font-size: 18px
    line-height: 30px

  .bottom-col
    width: 100%

  .block-title
    font-size 22px
    line-height: 30px

  .under-title
    margin-bottom: 30px

  .features__title
    margin-bottom: 28px

  .features-item__text
    margin-bottom: 40px

  .features__tools-item
    flex-direction: column

  .features__tools-title
    flex-basis: auto
    margin-bottom: 21px

  .features__tools-logo
    margin-bottom: 4px

  .features__tools-text
    width: auto

  .features__tools-item
    margin-bottom: 40px

  .text-box__features
    margin-bottom: 71px

  .text-box__about-text
    margin-bottom: 32px

  .text-box__about
    margin-bottom: 63px

  .related-list
    padding-top: 19px
    padding-left: 17px
    flex-direction column

  .related-item__link
    line-height 27px

  .related-list .col
    width: 100%

  .related-item
    padding-bottom: 22px

  .related
    margin-top: 17px

  .methodology-article
    padding-top: 110px
    padding-left: 0

  .methodology-article:before
    left: 50%
    top: 18px
    margin-left: -31px
