@import "_variable.styl"

body
  font-family: Whitney SSm A, sans-serif;
  font-smoothing: antialiased

.main-article
  &--table
    margin-bottom: 290px

.content
  width: 1220px
  margin: 0 auto
  position relative

.main-text
  font-size: 14px
  color: $text_color
  letter-spacing: -0.1px
  line-height: 24px
  font-weight 400

  &.ind-text
    font-weight 300
  a
    color: $main_color
    border-bottom  1px solid rgba(63, 136, 197, 0.3)
    &:hover
      border-bottom: none
b
  font-weight 600
.main-article
  padding-top: 32px

li
  list-style: none

.page__wrap
  background-image: url(images/footer_bg.png), url(images/svg/clouds_bg.svg), url(images/svg/clouds_bg.svg), linear-gradient(-180deg, #34C4F0 0%, #1C90E2 100%)
  background-position 50% 100%, 0 250px, 600px 50%
  background-repeat no-repeat, repeat-x, repeat-x
  background-size: auto, auto, auto

.article-text
  margin-top: auto
  z-index: 5

.article-title
  color: $color_white
  font-size: 50px
  line-height: 70px
  font-weight: 600
  margin-bottom: 12px

.article-text__item
  color: $color_white
  font-size: 22px
  line-height: 28px
  font-weight: 300
  margin-bottom: 36px

.article-author
  position: relative
  color: #3d454d
  font-size: 12px
  line-height: 16px
  font-weight: 300
  padding-left: 32px
  margin-bottom: 104px
  &:before
    content: ''
    position: absolute
    left: 0
    top: -2px
    width: 20px
    height: 20px
    background-image: url(images/author.svg)
    background-repeat: no-repeat

.breadcrumbs
  &__wrap
    display: flex
    background-color: rgba(255, 255, 255, .9)
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10)
    border-radius: 2px
    padding: 0 14px
    margin-bottom: 42px
    width: 330px
  &__item
    font-size: 12px
    letter-spacing: 0
    line-height: 42px
    color: #667780
    &:first-child
      &:before
        display: none
    &:before
      content: ''
      display: inline-block
      color: #fff
      width: 6px
      height: 13px
      background-image: url(images/arrow.svg)
      background-position: 0px 5px
      background-size: 100% auto
      margin: 0 6px 0 8px
      background-repeat no-repeat

  &__link
    color: $main_color
    letter-spacing: 0
    line-height: 42px
    text-decoration underline
    text-decoration-color: #A3DCF0
    $ultraThin()
    &:hover
      text-decoration none
    &:active
      color: $main_color

.text-box
  position: relative
  padding: 32px 44px 128px 44px
  background-color: $color_white
  margin-bottom: 10px
  &:after
    content: ''
    position: absolute
    width: 288px
    height: 42px
    bottom: 72px
    right: 44px
    background: url('images/bottom-logo.svg') center no-repeat
    background-size: cover


.date
  font-size: 12px
  line-height: 16px
  color: #3d454d
  font-weight: 300
  margin-bottom: 26px

.under-title
  color: #142433
  font-size: 16px
  line-height: 30px
  margin-bottom: 14px
  strong
    font-weight: 500

.main-text
  color: #1C3144
  font-size: 14px
  line-height: 24px
  font-weight: 300

.block-title
  font-size: 44px
  line-height: 56px
  margin-bottom: 24px
  color: #142433
  text-align: left
  font-weight: 600

.primary-text
  margin-bottom: 32px
  font-size: 14px
  line-height: 24px
  color: #173144

.reg
  font-weight 600
  font-size: 8px
  color: #95A69D
  letter-spacing: 0
  line-height: 10px
  position: relative
  top: 0
  &--tbl
    color: #ffffff

  .block-title
    font-size: 32px
    line-height: 40px
    font-weight: 600

  .mobile-only-close
    display: none

  .mobile-only-show
    display: none

.text-box
  margin-bottom: 200px
  box-shadow: 0 9px 20px 0 rgba(13,93,131,0.40)
  border-radius: 5px

.text-box__intro
  margin-bottom: 50px

.text-box__features
  margin-bottom: 58px

.text-box__link
  color: $main_color
  text-decoration underline
  text-decoration-color: #A3DCF0
  $ultraThin()
  &:hover
    text-decoration none
  &:active
    color: $main_color

.features__title
  font-size: 22px
  line-height: 42px
  color: #0a0c0d
  font-weight: 600
  margin-bottom: 18px

.features-item
  position: relative
  padding-left: 28px
  margin-bottom: 32px
  &:before
    content: ''
    position: absolute
    left: 0
    top: 3px
    width: 16px
    height: 16px
    background: url('images/bullet.svg') center no-repeat

.features-item__text
  font-size: 14px
  line-height: 24px
  margin-bottom: 32px

.features-item__text-semibold
  font-size: 16px
  font-weight: 600

.features__tools-item
  display: flex
  flex-direction: row
  margin-bottom: 24px

.features__tools-logo
  margin-right: 32px
  width: 52px
  height: 52px

.features__tools-title
  flex-basis: 200px
  font-size: 14px
  line-height: 24px
  margin-right: 20px

.features__tools-text
  width: 911px
  font-size: 14px
  line-height: 24px

.text-box__about
  margin-bottom: 58px

.text-box__about-title
  font-size: 22px
  line-height: 42px
  color: #0a0c0d
  font-weight: 600
  margin-bottom: 20px

.text-box__after
  font-size: 14px
  line-height: 24px

.text-box__about-title
  font-size: 20px
  line-height: 40px

.text-box__about-text
  font-size: 14px
  line-height: 24px
  margin-bottom: 32px

.text-box__contacts-title
  font-size: 18px
  line-height: 30px
  font-weight: 500
  margin-bottom: 14px

.text-box__contacts p
  font-size: 14px
  line-height: 24px
