@import "_variable.styl"


.table
	position: relative
	width: 650px
	background: linear-gradient(to right, #4D4BD4 0%, #7A79D4 100%)
	padding-top: 65px
	padding-left: 2px
	padding-right: 2px
	padding-bottom: 2px
	border-radius: 5px
	box-shadow: -1px 37px 43px -40px rgba(20, 105, 161, 0.5)
	&:before
		content: ''
		position: absolute
		top: 12px
		left: 16px
		width: 70px
		height: 54px
		background-image: url(images/icons/icon_salut.svg)
		background-repeat: no-repeat
	&__head
		position: absolute
		top: 23px
		left: 110px
		font-size: 14px
		font-weight: bold
		color: $color_white
		text-transform: uppercase
		text-align: center

.small__table
	width: 100%
	border-collapse: collapse

	tbody
		td
			height: 50px
			padding-left: 24px
			box-sizing: border-box
			border-top: 1px solid #E7EDF0
			border-bottom: 1px solid #DEE3EF
			&:first-child
				color: #7E9EA8

			&:nth-child(2)
				font-weight: 600

			&:nth-child(4)
				color: #7E9EA8

		tr
			background-color: $color_white
			&:nth-child(odd)
				background-color: #F5F4FE


.ontime-rank
	.table
		td:nth-child(3)
			border-right: 1px solid #DDE9EF
			padding-right: 24px

		td:last-child
			padding-right: 24px

		table
			tbody
				display: flex
				flex-direction: row
				flex-wrap: wrap
				tr
					width: 50%
					td
						&:first-child
							width: 5%

						&:nth-child(2)
							width: 70%
							font-size: 14px

						&:nth-child(3)
							width: 25%
							padding-left: 0
				.row1
					order: 1

				.row2
					order: 3

				.row3
					order: 5

				.row4
					order: 7

				.row5
					order: 9

				.row6
					order: 2
					background-color: #F5F4FE

				.row7
					order: 4
					background-color: $color_white

				.row8
					order: 6
					background-color: #F5F4FE

				.row9
					order: 8
					background-color: $color_white

				.row10
					order: 10
					background-color: #F5F4FE

.table--busiest
	width: 540px
	background-image: linear-gradient(to right, #FF505B 0%, #FF7B7B 100%)
	box-shadow: -1px 37px 43px -40px rgba(161, 20, 25, 0.5)
	&__head
		left: 98px

	&:before
		width: 70px
		height: 54px
		background-image: url(images/icons/icon_balls.svg)
		background-position: center
		background-repeat: no-repeat

.small__table--busiest
	th
		height: 50px
		padding-left: 16px
		padding-right: 16px
		font-size: 11px
		text-align: left
		text-transform: uppercase
		color: #C56B6B
		background-color: #FFE8E7
		border-right: 2px solid #ffffff
		&:last-child
			border-right: none

	tbody
		td
			height: 50px
			padding-left: 16px
			padding-right: 16px
			text-align: center
			box-sizing: border-box
			border-top: 1px solid #FFF7F7
			border-bottom: 1px solid #F3E8E7
			&:first-child
				font-size: 12px

			&:nth-child(2)
				width: 33%
				font-size: 14px
				line-height: 24px
				padding-right: 0
				text-align: left

			&:nth-child(3)
				width: 26%
				font-size: 14px
				line-height: 24px
				padding-right: 0
				color: #173144
				text-align: left

			&:nth-child(4)
				width: 35%
				font-size: 12px
				line-height: 22px
				font-weight: 600
				color: #173144
		tr
			background-color: $color_white
			&:nth-child(odd)
				background-color: #FFF7F7

.change-rank__table
	width: 540px
	border: 2px solid #CEDFFE
	border-radius: 5px

.change-table
	width :100%
	border-collapse: collapse
	caption
		position: relative
		padding: 16px 16px 16px 64px
		font-size: 12px
		line-height: 16px
		font-weight: 600
		color: #5F96F8
		text-align: left
		text-transform: uppercase
		&:before
			content: ''
			position: absolute
			left: 16px
			top: 8px
			width: 32px
			height: 32px
			background-image: url(images/svg/thumbs_up.svg)

	th
		height: 52px
		padding: 0 22px
		font-size: 12px
		line-height: 16px
		font-weight: 700
		color:  #6381B4
		text-transform: uppercase
		background-color: #EEF3FE
		border-right: 2px solid #ffffff
		box-sizing: border-box
		text-align: left
		&:last-child
			border-right: none
			text-align: center

	tr
		background-color: $color_white
		&:nth-child(even)
			background-color: #F6F9FE

	td
		padding: 16px 24px 16px 24px
		&:first-child
			width: 48%
			font-size: 14px
			line-height: 24px
			font-weight: 600
			color: #173144

		&:nth-child(2)
			font-size: 12px
			line-height: 16px
			width: 26%

		&:nth-child(3)
			font-size: 12px
			line-height: 16px
			font-weight: 600
			color: #173144
			text-align: center

.reduction
	border: 2px solid #FFE5D2

.change-table--reduction
	caption
		color: #F8AC67
		&:before
			background-image: url(images/svg/thumbs_down.svg)

	th
		color: #BE8E6A
		background-color: #FFF6EF

	tr
		background-color: $color_white
		&:nth-child(even)
			background-color: #FFFBF7

.table--comparsion-best
	width: 540px
	right: 0
	top: 0
	td:nth-child(3)
		width: 34%
		font-size: 14px
		line-height: 16px

	.rate-block
		font-size: 12px
	&:before
		width: 46px
		height: 23px
		top: 21px
		background-image: url(images/svg/best.svg)

	.table__head
		font-size: 13px
		line-height: 22px
		font-weight: bold
		left: 72px

.ontime-best-rank
	.small__table
		tbody
			td
				&:first-child
					font-size: 12px
					line-height: 14px

				&:nth-child(2)
					width: 60%
					font-size: 14px
					line-height: 14px
					font-weight: 600
					color: #0A0602
				&:last-child
					padding-right: 24px

			tr
				background-color: $color_white
				&:nth-child(even)
					background-color: #F5F4FE

.table--comparsion-worst
	width: 540px
	right: 0
	top: 364px
	background: linear-gradient(to right, #FF7D7C 0%, #FF6B89 100%)
	box-shadow: -1px 37px 43px -40px rgba(161, 20, 25, 0.5)
	td:nth-child(3)
		width: 40%
		font-size: 14px
		line-height: 16px

	.rate-block
		font-size: 12px

	&:before
		width: 46px
		height: 18px
		top: 23px
		background-image: url(images/svg/worst.svg)

	.table__head
		font-size: 13px
		line-height: 22px
		font-weight: bold
		left: 72px

	.small__table
		tbody
			td
				border-top: 1px solid #E7E4E6
				border-bottom: 1px solid #E5EDF0
				&:first-child
					font-size: 12px
					line-height: 14px

				&:nth-child(2)
					width: 60%
					font-size: 14px
					line-height: 14px
					font-weight: bold
					color: #0A0602

			tr
				background-color: $color_white
				&:nth-child(even)
					background-color: #FFF5F4

		.rate-block
			&:first-child
				background-color: #FF696B

			&:nth-child(2)
				background-color: #FF6A76

			&:nth-child(3)
				background-color: #FF6B7C

			&:nth-child(4)
				background-color: #FF6B84

			&:nth-child(5)
				background-color: #FCF4F4

.full-table
	width: 100%
	min-width: 600px
	border-collapse: collapse
	background-image: linear-gradient(to right, #4D4BD4 0%, #7A79D4 100%)
	border-radius: 5px
	thead
		th
			padding: 16px 20px
			font-size: 11px
			line-height: 16px
			color: $color_white
			text-align: left
			text-transform: uppercase
			border-right: 1px solid rgba(255,255,255,0.2)
			&:last-child
				border-right: none

	tbody
		tr
			background-color: #ffffff
			&:nth-child(odd)
				background-color: #F5F4FE
		td
			padding: 17px 15px 18px 25px
			border-top: 1px solid #F2FBFE
			border-bottom: 1px solid #D8EAEF
			&:first-child
				text-align: center
				font-size: 12px
				line-height: 14px
				font-weight: 600
				color: #859BA6

			&:nth-child(2)
				width: 33%
				font-size: 14px
				line-height: 16px
				font-weight: 600
				color: #1C3144

			&:nth-child(3)
				font-size: 14px
				line-height: 16px

			&:nth-child(4)
				text-align: center

			&:nth-child(5),
			&:nth-child(6)
				font-size: 13px
				line-height: 14px
				font-weight: 600
				text-align: center
				color: #1C3144

	.rate-block
		background-color: #5654d7
		&:before
			top: 6px

	.item2
		background-color: #5657D6

	.item3
		background-color: #5765D8

	.item4
		background-color: #5766D8

	.item5
		background-color: #5D83DC

	.item6
		background-color: #5C83DC

	.item7
		background-color: #6191E0

	.item8
		background-color: #6191E0

	.item9
		background-color: #679FE2

	.item10
		background-color: #6BA8E3

	.item11
		background-color: #70B2E6

	.item12
		background-color: #7BC7EA

	.item13
		background-color: #7BC8EA

	.item14
		background-color: #7BC7EA

	.item15
		background-color: #81CCD6

	.item16
		background-color: #86CABD

	.item17
		background-color: #81CCD6

	.item18
		background-color: #8CC9A9

	.item19
		background-color: #8CC9A9

	.item20
		background-color: #91C79B

	.item21
		background-color: #96C791

	.item22
		background-color: #9EC683

	.item23
		background-color: #A5C576

	.item24
		background-color: #B3C564

	.item25
		background-color: #B3C564

	.item26
		background-color: #BFC352

	.item27
		background-color: #C9C34A

	.item28
		background-color: #D2C23E

	.item29
		background-color: #DCC337

	.item30
		background-color: #E6BF31

	.item31
		background-color: #E5BF31

	.item32
		background-color: #E6BF31

	.item33
		background-color: #E3B534

	.item34
		background-color: #E1AB39

	.item35
		background-color: #DFA03E

	.item36
		background-color: #E1AB39

	.item37
		background-color: #DFA03E

	.item38
		background-color: #DC9644

	.item39
		background-color: #DA8C49

	.item40
		background-color: #DA8C49

	.item41
		background-color: #DA8C49

	.item42
		background-color: #D88051

	.item43
		background-color: #D88051

	.item44
		background-color: #D67758

	.item45
		background-color: #D67758
